<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <display-name>PORTAL</display-name>


    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>com.projectine.test.TestServlet</servlet-class>
    </servlet>

</web-app>
